@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Apotheca.Navigation
@using Apotheca.BLL.Models
@model Apotheca.ViewModels.Document.DocumentViewModel
@{
    Layout = "Content/Layouts/MainLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@(Model.DocumentId.HasValue ? "Update Document" : "Add a Document")</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        @Html.Partial("Content/Views/Shared/_ValidationErrorPanel.cshtml", Model.ValidationErrors)
        <form role="form" method="post" action="@(Model.DocumentId.HasValue ? Actions.Document.Update : Actions.Document.Add)">
            <fieldset>
                <div class="form-group">
                    <label>Document</label>
                    <div id="dropzone" class="dropzone">

                    </div>
                </div>
                <div class="form-group">
                    <input id="txt-name" class="form-control" placeholder="File name" name="FileName" type="text" value="@Model.FileName" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" placeholder="Description" name="Description" type="text" value="@Model.Description">
                    <p class="help-block">Provide some details about this document that may help others.  Or don't.</p>
                </div>
                @if (Model.CategoryOptions.Count > 0)
                {
                    <div class="form-group">
                        <label class="control-label">Categories</label>
                        <div>
                            <select class="form-control" id="categories" name="CategoryIds" multiple="multiple">
                                @foreach (var cat in Model.CategoryOptions) 
                                {
                                    <option value="@cat.Value" @if (cat.IsSelected) { <text>selected="selected"</text> }>@cat.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                  }
                <input type="hidden" id="hid-filename" name="UploadedFileName" value="" />
                <input type="hidden" name="DocumentId" value="@Model.DocumentId" />
                <button id="btn-submit-document" type="submit" class="btn btn-lg btn-primary btn-block" disabled="disabled">@(Model.DocumentId.HasValue ? "Update document" : "Add document")</button>
            </fieldset>
        </form>
    </div>
</div>
